process {
    time = '6h'
    // Sets smaller resources than the defaults. Can be used for testing.
    withLabel:xlarge {
        cpus = 4
        memory = '15 GB'
    }
    withLabel:large {
        cpus = 4
        memory = '15 GB'
    }
    withLabel:medium {
        cpus = 4
        memory = '8 GB'
    }
    withLabel:small {
        cpus = 2
        memory = '8 GB'
    }
}
