params.containerdir = "/data/runScratch.boston/analysis/pipelines/2021_covid19/container-images/"

process {
    container = "$params.containerdir/nfcore_viralrecon_1.1.0.sif"

    withName:"BWA_INDEX|BWA_ALIGN" {
        container = "$params.containerdir/bwa_0_7_17.sif"
    }
    withName:TANOTI {
        container = "$params.containerdir/fhi_nsc_covid_docker.sif"
    }
    withName:PRIMERCLIP {
        container = "$params.containerdir/primerclip_greninger_swift_pipeline_latest.sif"
    }
    withName:"IVAR_TRIM|IVAR_VARIANTS|IVAR_CONSENSUS" {
        container = "$params.containerdir/ivar_1.3_nsc.sif"
    }
    withName:"BCFTOOLS_VARIANTS|BCFTOOLS_CONSENSUS|VARSCAN2_CONSENSUS" {
        container = "$params.containerdir/bcftools_1_11.sif"
    }
    withName:PANGOLIN {
        container = "$params.containerdir/pangolin.sif"
    }
    withName:NEXTCLADE {
        container = "$params.containerdir/nextclade.sif"
        time = '10m'
    }
    withName:CHECK_VARIANTS {
        container = "$params.containerdir/checkvariants-python.sif"
    }
}

singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B ./.singularity-tmp:/tmp:rw"
}

process {
    executor = "slurm"

    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
    maxRetries = 999
    beforeScript = "mkdir ./.singularity-tmp"
    afterScript = "rm -rf ./.singularity-tmp"

    time = '6h'

    withLabel:big {
        cpus = 32
        memory = '16 GB'
    }
    withLabel:medium {
        cpus = 6
        memory = '8 GB'
    }
    withLabel:small_highmem {
        cpus = 2
        memory = '72 GB'
    }
    withLabel:small {
        cpus = 2
        memory = '8 GB'
    }
}


params.reportdir = "$PWD/90_reports/"

report {
    enabled = true
    file = "$params.reportdir/nextflow_report.html"
}

timeline {
    enabled = true
    file = "$params.reportdir/nextflow_timeline.html"
}

dag {
    enabled = true
    file = "$params.reportdir/nextflow_flowchart.html"
}
