singularity {
    enabled = true
    autoMounts = true
    runOptions = "-B ./.singularity-tmp:/tmp:rw"
}

params {
    containerdir = "/data/runScratch.boston/analysis/pipelines/2021_covid19/container-images/"
}

process {
    executor = "slurm"
    errorStrategy = { task.exitStatus == 143 ? 'retry' : 'finish' }
    maxRetries = 999
    cpus = 4
    memory = '12 GB'
//time = '1d' // One day is default
   
// BeforeScript required by singularity for tmp
    beforeScript = "mkdir ./.singularity-tmp"
    afterScript = "rm -rf ./.singularity-tmp"
}